@using WeddingAppBL.Repository
@using WeddingAppDTO.DataTransferObject
@inject PlannerRepository PlannerRepository
@rendermode @(new InteractiveServerRenderMode(true))

<MudTable @ref="_table" Items="@Comments" CanCancelEdit="true" ReadOnly="@IsAdmin" Style="background-color: transparent;"
          @bind-SelectedItem="selectedItem1" CommitEditTooltip="Commit Edit" HorizontalScrollbar="true"
          RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues" Height="40vh" Breakpoint="Breakpoint.Sm" FixedHeader="true"
          RowEditCommit="ItemHasBeenCommitted" ApplyButtonPosition="@applyButtonPosition" EditButtonPosition="@editButtonPosition" EditTrigger="@editTrigger">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Plan Wesela</MudText>
        <MudSpacer />
    </ToolBarContent>
    <ColGroup>
        <col style="width: 90vw;" />
        @if (!IsAdmin)
        {
            <col style="width:50px;" />
        }
    </ColGroup>

    <RowTemplate>
        <div>
            <MudTh DataLabel="Godzina" Style="justify-content:center;background-color: rgba(246, 174, 150, 0.6);width:90vw">@context.DateTime.Hours:@(context.DateTime.Minutes == 0 ? "00" : @context.DateTime.Minutes)</MudTh>
            <MudTh Style="justify-content:center;overflow-wrap:anywhere;background-color:rgba(242, 191, 174, 0.4);width:90vw">@context.Comment</MudTh>
            </div>
        </RowTemplate>

        <RowEditingTemplate>
            <MudTd DataLabel="Godzina">
                <MudTextField Style="width:20vw" @bind-Value="context.DateTime" InputType="InputType.Time" Required />
         </MudTd>
         <MudTd DataLabel="Opis">
             <MudTextField AutoGrow Style="overflow-wrap:anywhere; width:20vw" @bind-Value="context.Comment" Required />
         </MudTd>
         <MudTd DataLabel="">
             <MudIconButton OnClick="@((e) => DeleteUser(@context.Id))" Icon="@Icons.Material.Filled.Delete" />
         </MudTd>
     </RowEditingTemplate>

     <EditButtonContent Context="button">
         <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
     </EditButtonContent>

 </MudTable>

 <style>
 </style>

 @code {

    [Parameter]
    public bool IsAdmin { get; set; }

    private TableApplyButtonPosition applyButtonPosition = TableApplyButtonPosition.End;
    private TableEditButtonPosition editButtonPosition = TableEditButtonPosition.End;
    private TableEditTrigger editTrigger = TableEditTrigger.EditButton;
    private PlannerComment elementBeforeEdit;
    private PlannerComment selectedItem1 = null;
    private TimeSpan? time = new TimeSpan(11, 11, 2024, 00, 00, 00);
    private IEnumerable<PlannerComment> Comments = new List<PlannerComment>();

    private void BackupItem(object element)
    {
        elementBeforeEdit = new()
            {
                DateTime = ((PlannerComment)element).DateTime,
                Comment = ((PlannerComment)element).Comment,
            };
    }

    private void ItemHasBeenCommitted(object element)
    {
        PlannerRepository.EditComment((PlannerComment)element);
        Comments = PlannerRepository.GetPlannerComments().Result.OrderBy(comment => comment.DateTime);
        StateHasChanged();
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((PlannerComment)element).DateTime = elementBeforeEdit.DateTime;
        ((PlannerComment)element).Comment = elementBeforeEdit.Comment;
    }

    private void DeleteUser(int id)
    {
        PlannerRepository.DeleteComment(id);
        _table?.SetEditingItem(null);
        Comments = PlannerRepository.GetPlannerComments().Result.OrderBy(comment => comment.DateTime);
        StateHasChanged();
    }

    private MudTable<PlannerComment>? _table;

    protected override async Task OnInitializedAsync()
    {
        this.IsAdmin = !this.IsAdmin;
        _table?.SetEditingItem(null);
        List<PlannerComment> tmpList = PlannerRepository.GetPlannerComments().Result.OrderBy(comment => comment.DateTime).ToList();
        List<PlannerComment> nextDayList = tmpList.Where(comment => comment.DateTime < new TimeSpan(15, 00, 00)).ToList();
        tmpList.RemoveRange(0, nextDayList.Count);
        tmpList.AddRange(nextDayList);
        Comments = tmpList;
    }

}
